# Ignore Bootstrap JS and CSS files
/assets/js/bootstrap.min.js
/assets/js/bootstrap.min.js.map
/assets/css/bootstrap.min.css
/assets/css/bootstrap.min.css.map
/assets/js/jquery-3.3.1.slim.min.js
/assets/js/popper.min.js
/assets/js/popper.min.js.map